<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="url" value="http://localhost/facewallv1/"></add>
    <!--<add key="url" value="http://www.yourdomain.com/"></add>-->
    <!-- MySQL Compatible Connection String -->
    <!--<add key="connectionString" value="Server=localhost;Database=databasename;Uid=root;Pwd=****;"/>-->
  </appSettings>
  <connectionStrings>
		<!-- <add name="connectionString" connectionString="Server=(local);Database=vstarter_db;Trusted_Connection=true;" providerName="System.Data.SqlClient"/> -->
		<!--<add name="connectionString" connectionString="Data Source=.\SQLExpress;Integrated Security=true;AttachDBFileName=|DataDirectory|vfacewalldb.mdf;User Instance=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name="videoAuth" loginUrl="Login.aspx" defaultUrl="myaccount/Default.aspx" protection="All" path="/" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="Off" defaultRedirect="p_error.aspx">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages styleSheetTheme="blitzer" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never"></pages>
	  <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
      <mimeMap fileExtension=".ts" mimeType="video/MP2T" />
    </staticContent>-->
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="usr_rule">
        </rewriteMap>
      </rewriteMaps>
	<rules>
		<rule name="usr_rule_01">
			<match url="^user/([_0-9a-z-.]+).aspx"/>
			<action type="Rewrite" url="user/Default.aspx?user={R:1}"/>
		</rule>
		<rule name="usr_rule_03">
			<match url="^user/profile/([_0-9a-z-.]+).aspx"/>
			<action type="Rewrite" url="user/profile/Default.aspx?user={R:1}"/>
		</rule>
	</rules>
    </rewrite>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="mail@yourmail.com">
        <network host="mail.yourmail.com" userName="mail@yourmail.com" password="yourpassword" />
      </smtp>
    </mailSettings>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
